<template>
  <div class="home" :style="{'backgroundColor': color}">
    <drag-drop></drag-drop>
  </div>
</template>

<script>
import myButton from "@/components/DragDrop";

export default {
  name: 'home',
  components: {
    "drag-drop": myButton
  },
  data() {
    return {
      color: '#b1b1b1'
    }
  },
  methods: {
    changeBg(event) {
      this.color = event;
    }
  }
}
</script>
<style scoped lang="scss">
  .home {
    width: 100%;
    height: 100vh;
  }
</style>