<template>
    <div class="btn-box">
        <div
            v-for="(item, key) in items"
            :key="key"
        >
            <div :id="key" class="one"
                 v-mydragable.notChild="{left: item.left, top: item.top, number: 0}"
            >{{key+1}}</div>
        </div>

    </div>
</template>

<script>
    const data = {
        down: false,
        initialX: 0,
        initialY: 0
    }
    export default {
        name: 'myButton',
        data() {
            return {
                container: [

                ],
                currentNumber: 0,
                parentNumber: 0,
                parentHasChild: false,
                items: [
                    {
                        left: 100,
                        top: 200,
                    },
                    {
                        left: 350,
                        top: 200,
                    },
                    {
                        left: 500,
                        top: 300,
                    },
                    {
                        left: 250,
                        top: 50,
                    }
                ]
            }
        },
        directives: {
            mydragable: {
                bind: (el, bin, vnode) => {
                    console.log(222)
                    el.style.left = bin.value.left + 'px';
                    el.style.top = bin.value.top +'px';
                    bin.value.number = Math.floor(Math.random()*((129-25)+1)+25);
                    el.setAttribute('draggable', true)
                },
                inserted: (el, bin, vNode, oldVnode) => {
                    el.addEventListener('dragstart', (event) => {
                        el.classList.add('moving');
                        el.style.backgroundColor = "#ffffff"
                        vNode.context.currentNumber = bin.value.number;
                    }, false);
                    el.addEventListener('dragenter', (event) => {
                        event.preventDefault();
                    }, false);
                    el.addEventListener('dragover', (event) => {
                        event.preventDefault();
                        el.classList.add('hasChild');
                    }, false);
                    el.addEventListener('dragleave', (event) => {
                        event.preventDefault();
                        el.classList.remove('hasChild');
                        el.style.backgroundColor = "#ffffff"
                        el.setAttribute('draggable', true);
                        el.classList.add('movedElement');
                    }, false);
                    el.addEventListener('drop', (event) => {
                        event.preventDefault();
                        vNode.context.parentNumber = bin.value.number;
                        if(vNode.context.currentNumber > bin.value.number) {
                            el.style.backgroundColor = "red"
                        } else {
                            el.style.backgroundColor = "green"
                        }
                        el.classList.add("onlyOneChild");
                        if(el.classList.value.indexOf("hasChild") != -1 && el.style.backgroundColor == "red") {
                            el.removeAttribute('draggable');
                        }
                    }, false);
                    el.addEventListener('dragend', (event) => {
                        event.stopPropagation();
                        event.preventDefault();
                        el.classList.remove('moving');
                        console.log(vNode.context.items[vNode.data.attrs.id]);
                        console.log(vNode.data.attrs.id);
                        el.style.left = event.pageX - el.offsetWidth/2 + 'px';
                        el.style.top = event.pageY - el.offsetHeight/2 + 'px';
                    }, false);
                },
                update: (el, bin) => {
                    console.log(el)
                }
            }
        },
    }
</script>

<style scoped lang="scss">
    .one {
        position: absolute;
        display: block;
        width: 80px;
        height: 80px;
        z-index: 2;
        border: 2px solid #00a499;
        background-color: #ffffff;
    }
    [draggable] {
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        /* Required to make elements draggable in old WebKit */
        -khtml-user-drag: element;
        -webkit-user-drag: element;
    }
    .hasChild {
        width: 150px;
        height: 150px;
        z-index: 1;
    }
    .movedElement {
    }
</style>
